<robot name="onshape">
<link name="base_link">
<inertial>
<origin xyz="0 0 0" rpy="0 0 0"/>
<mass value="0.001"/>
<inertia ixx="1e-8" ixy="0" ixz="0" iyy="1e-8" iyz="0" izz="1e-8"/>
</inertial>
</link>
<joint name="base_to_palm" type="fixed">
<parent link="base_link"/>
<child link="palm_lower"/>
<origin xyz="0 0 0" rpy="0 -1.5707963268 0"/>
</joint>
<link name="palm_lower">
<visual>
<origin xyz="-0.02009524965 0.02575775613 -0.03472240358" rpy="0 -0 0" />
<geometry>
<mesh filename="palm_lower.stl"/>
</geometry>
<material name="palm_lower_material">
<color rgba="0.6039215686 0.1490196078 0.1490196078 1"/>
</material>
</visual>
<inertial>
<origin xyz="0 0 0" rpy="0 0 0"/>
<mass value="0.237" />
<inertia ixx="0.000354094" ixy="-1.193e-06"  ixz="-2.445e-06" iyy="0.000260915" iyz="-2.905e-06" izz="0.000529257" />
</inertial>
</link>

<link name="mcp_joint">
<visual>
<origin xyz="0.008406902261 0.00776624386 0.01465735499" rpy="0 0 0" />
<geometry>
<mesh filename="mcp_joint.stl"/>
</geometry>
<material name="mcp_joint_material">
<color rgba="0.8666666667 0.8666666667 0.05098039216 1"/>
</material>
</visual>
<inertial>
<origin xyz="0 0 0" rpy="0 0 0"/>
<mass value="0.044" />
<inertia ixx="1.1499e-05" ixy="3.049e-06"  ixz="1.21e-07" iyy="7.796e-06" iyz="1.12e-07" izz="1.4759e-05" />
</inertial>
</link>

<link name="pip">
<visual>
<origin xyz="0.009643363092 0.0003 0.0007840340104" rpy="-1.570796327 -1.570796327 0" />
<geometry>
<mesh filename="pip.stl"/>
</geometry>
<material name="pip_material">
<color rgba="0.7490196078 0.7490196078 0.7490196078 1"/>
</material>
</visual>
<inertial>
<origin xyz="0 0 0" rpy="0 0 0"/>
<mass value="0.032" />
<inertia ixx="4.798e-06" ixy="1.2e-08"  ixz="4e-09" iyy="2.862e-06" iyz="1.1e-08" izz="4.234e-06" />
</inertial>
</link>

<link name="dip">
<visual>
<origin xyz="0.0211333529 -0.008432119147 0.009785088162" rpy="-3.141592654 0 0" />
<geometry>
<mesh filename="dip.stl"/>
</geometry>
<material name="dip_material">
<color rgba="0.8666666667 0.8666666667 0.05098039216 1"/>
</material>
</visual>
<inertial>
<origin xyz="0 0 0" rpy="0 0 0"/>
<mass value="0.037" />
<inertia ixx="5.542e-06" ixy="-6.07e-07"  ixz="-1.7e-08" iyy="5.727e-06" iyz="-2.3e-08" izz="6.682e-06" />
</inertial>
</link>

<link name="fingertip">
<visual>
<origin xyz="0.01328642411 -0.006114238387 0.0145" rpy="3.141592654 0 0" />
<geometry>
<mesh filename="fingertip.stl"/>
</geometry>
<material name="fingertip_material">
<color rgba="0.8666666667 0.8666666667 0.05098039216 1"/>
</material>
</visual>
<inertial>
<origin xyz="0 0 0" rpy="0 0 0"/>
<mass value="0.016" />
<inertia ixx="3.368e-06" ixy="1.15e-07"  ixz="0" iyy="1.556e-06" iyz="0" izz="2.863e-06" />
</inertial>
</link>

<joint name="0" type="revolute">
<origin xyz="-0.0122 0.0381 0.0145" rpy="-1.570796327 0 1.570796327" />
<parent link="mcp_joint" />
<child link="pip" />
<axis xyz="0 0 -1"/>
<limit effort="0.95" velocity="8.48" lower="-0.2" upper="0.2"/>
<joint_properties friction="0"/>
</joint>

<joint name="1" type="revolute">
<origin xyz="-0.007095249653 0.02305775613 -0.01872240358" rpy="1.570796327 1.570796327 0" />
<parent link="palm_lower" />
<child link="mcp_joint" />
<axis xyz="0 0 -1"/>
<limit effort="0.95" velocity="8.48" lower="-0.2" upper="1.61"/>
<joint_properties friction="0"/>
</joint>

<joint name="2" type="revolute">
<origin xyz="0.015 0.0143 -0.013" rpy="1.570796327 -1.570796327 0" />
<parent link="pip" />
<child link="dip" />
<axis xyz="0 0 -1"/>
<limit effort="0.95" velocity="8.48" lower="-0.2" upper="1.71"/>  
<joint_properties friction="0"/>
</joint>

<joint name="3" type="revolute">
<origin xyz="-4.08805825e-09 -0.03610000421 0.0002" rpy="0 0 0" />
<parent link="dip" />
<child link="fingertip" />
<axis xyz="0 0 -1"/>
<limit effort="0.95" velocity="8.48" lower="-0.2" upper="1.62"/>   
<joint_properties friction="0"/>
</joint>

<link name="mcp_joint_2">
<visual>
<origin xyz="0.008406902261 0.00776624386 0.01465735499" rpy="0 0 0" />
<geometry>
<mesh filename="mcp_joint.stl"/>
</geometry>
<material name="mcp_joint_material">
<color rgba="0.8666666667 0.8666666667 0.05098039216 1"/>
</material>
</visual>
<inertial>
<origin xyz="0 0 0" rpy="0 0 0"/>
<mass value="0.044" />
<inertia ixx="1.1499e-05" ixy="3.049e-06"  ixz="1.21e-07" iyy="7.796e-06" iyz="1.12e-07" izz="1.4759e-05" />
</inertial>
</link>

<link name="pip_2">
<visual>
<origin xyz="0.009643363092 0.0003 0.0007840340104" rpy="-1.570796327 -1.570796327 0" />
<geometry>
<mesh filename="pip.stl"/>
</geometry>
<material name="pip_material">
<color rgba="0.7490196078 0.7490196078 0.7490196078 1"/>
</material>
</visual>
<inertial>
<origin xyz="0 0 0" rpy="0 0 0"/>
<mass value="0.032" />
<inertia ixx="4.798e-06" ixy="1.2e-08"  ixz="4e-09" iyy="2.862e-06" iyz="1.1e-08" izz="4.234e-06" />
</inertial>
</link>

<link name="dip_2">
<visual>
<origin xyz="0.0211333529 -0.008432119147 0.009785088162" rpy="-3.141592654 0 0" />
<geometry>
<mesh filename="dip.stl"/>
</geometry>
<material name="dip_material">
<color rgba="0.8666666667 0.8666666667 0.05098039216 1"/>
</material>
</visual>
<inertial>
<origin xyz="0 0 0" rpy="0 0 0"/>
<mass value="0.037" />
<inertia ixx="5.542e-06" ixy="-6.07e-07"  ixz="-1.7e-08" iyy="5.727e-06" iyz="-2.3e-08" izz="6.682e-06" />
</inertial>
</link>

<link name="fingertip_2">
<visual>
<origin xyz="0.01328642411 -0.006114238387 0.0145" rpy="3.141592654 0 0" />
<geometry>
<mesh filename="fingertip.stl"/>
</geometry>
<material name="fingertip_material">
<color rgba="0.8666666667 0.8666666667 0.05098039216 1"/>
</material>
</visual>
<inertial>
<origin xyz="0 0 0" rpy="0 0 0"/>
<mass value="0.016" />
<inertia ixx="3.368e-06" ixy="1.15e-07"  ixz="0" iyy="1.556e-06" iyz="0" izz="2.863e-06" />
</inertial>
</link>

<joint name="4" type="revolute">
<origin xyz="-0.0122 0.0381 0.0145" rpy="-1.570796327 0 1.570796327" />
<parent link="mcp_joint_2" />
<child link="pip_2" />
<axis xyz="0 0 -1"/>
<limit effort="0.95" velocity="8.48" lower="-0.2" upper="0.2"/>
<joint_properties friction="0"/>
</joint>

<joint name="5" type="revolute">
<origin xyz="-0.007095249653 -0.02239224387 -0.01872240358" rpy="1.570796327 1.570796327 0" />
<parent link="palm_lower" />
<child link="mcp_joint_2" />
<axis xyz="0 0 -1"/>
<limit effort="0.95" velocity="8.48" lower="-0.2" upper="1.61"/>
<joint_properties friction="0"/>
</joint>

<joint name="6" type="revolute">
<origin xyz="0.015 0.0143 -0.013" rpy="1.570796327 -1.570796327 0" />
<parent link="pip_2" />
<child link="dip_2" />
<axis xyz="0 0 -1"/>
<limit effort="0.95" velocity="8.48" lower="-0.2" upper="1.71"/>  
<joint_properties friction="0"/>
</joint>

<joint name="7" type="revolute">
<origin xyz="0 -0.0361 0.0002" rpy="0 0 0" />
<parent link="dip_2" />
<child link="fingertip_2" />
<axis xyz="0 0 -1"/>
<limit effort="0.95" velocity="8.48" lower="-0.2" upper="1.62"/>   
<joint_properties friction="0"/>
</joint>

<link name="mcp_joint_3">
<visual>
<origin xyz="0.008406902261 0.00776624386 0.01465735499" rpy="0 0 0" />
<geometry>
<mesh filename="mcp_joint.stl"/>
</geometry>
<material name="mcp_joint_material">
<color rgba="0.8666666667 0.8666666667 0.05098039216 1"/>
</material>
</visual>
<inertial>
<origin xyz="0 0 0" rpy="0 0 0"/>
<mass value="0.044" />
<inertia ixx="1.1499e-05" ixy="3.049e-06"  ixz="1.21e-07" iyy="7.796e-06" iyz="1.12e-07" izz="1.4759e-05" />
</inertial>
</link>

<link name="pip_3">
<visual>
<origin xyz="0.009643363092 0.0003 0.0007840340104" rpy="-1.570796327 -1.570796327 0" />
<geometry>
<mesh filename="pip.stl"/>
</geometry>
<material name="pip_material">
<color rgba="0.7490196078 0.7490196078 0.7490196078 1"/>
</material>
</visual>
<inertial>
<origin xyz="0 0 0" rpy="0 0 0"/>
<mass value="0.032" />
<inertia ixx="4.798e-06" ixy="1.2e-08"  ixz="4e-09" iyy="2.862e-06" iyz="1.1e-08" izz="4.234e-06" />
</inertial>
</link>

<link name="dip_3">
<visual>
<origin xyz="0.0211333529 -0.008432119147 0.009785088162" rpy="-3.141592654 0 0" />
<geometry>
<mesh filename="dip.stl"/>
</geometry>
<material name="dip_material">
<color rgba="0.8666666667 0.8666666667 0.05098039216 1"/>
</material>
</visual>
<inertial>
<origin xyz="0 0 0" rpy="0 0 0"/>
<mass value="0.037" />
<inertia ixx="5.542e-06" ixy="-6.07e-07"  ixz="-1.7e-08" iyy="5.727e-06" iyz="-2.3e-08" izz="6.682e-06" />
</inertial>
</link>

<link name="fingertip_3">
<visual>
<origin xyz="0.01328642411 -0.006114238387 0.0145" rpy="3.141592654 0 0" />
<geometry>
<mesh filename="fingertip.stl"/>
</geometry>
<material name="fingertip_material">
<color rgba="0.8666666667 0.8666666667 0.05098039216 1"/>
</material>
</visual>
<inertial>
<origin xyz="0 0 0" rpy="0 0 0"/>
<mass value="0.016" />
<inertia ixx="3.368e-06" ixy="1.15e-07"  ixz="0" iyy="1.556e-06" iyz="0" izz="2.863e-06" />
</inertial>
</link>

<joint name="8" type="revolute">
<origin xyz="-0.0122 0.0381 0.0145" rpy="-1.570796327 0 1.570796327" />
<parent link="mcp_joint_3" />
<child link="pip_3" />
<axis xyz="0 0 -1"/>
<limit effort="0.95" velocity="8.48" lower="-0.2" upper="0.2"/>
<joint_properties friction="0"/>
</joint>

<joint name="9" type="revolute">
<origin xyz="-0.007095245443 -0.06784224387 -0.01872240767" rpy="1.570796327 1.570796327 0" />
<parent link="palm_lower" />
<child link="mcp_joint_3" />
<axis xyz="0 0 -1"/>
<limit effort="0.95" velocity="8.48" lower="-0.2" upper="1.61"/>
<joint_properties friction="0"/>
</joint>

<joint name="10" type="revolute">
<origin xyz="0.015 0.0143 -0.013" rpy="1.570796327 -1.570796327 0" />
<parent link="pip_3" />
<child link="dip_3" />
<axis xyz="0 0 -1"/>
<limit effort="0.95" velocity="8.48" lower="-0.2" upper="1.71"/>  
<joint_properties friction="0"/>
</joint>

<joint name="11" type="revolute">
<origin xyz="0 -0.0361 0.0002" rpy="0 0 0" />
<parent link="dip_3" />
<child link="fingertip_3" />
<axis xyz="0 0 -1"/>
<limit effort="0.95" velocity="8.48" lower="-0.2" upper="1.62"/>   
<joint_properties friction="0"/>
</joint>

<link name="pip_4">
<visual>
<origin xyz="-0.005356636908 0.0003 0.0007840340104" rpy="-1.570796327 -1.570796327 0" />
<geometry>
<mesh filename="pip.stl"/>
</geometry>
<material name="pip_material">
<color rgba="0.7490196078 0.7490196078 0.7490196078 1"/>
</material>
</visual>
<inertial>
<origin xyz="0 0 0" rpy="0 0 0"/>
<mass value="0.032" />
<inertia ixx="4.798e-06" ixy="1.2e-08"  ixz="4e-09" iyy="2.862e-06" iyz="1.1e-08" izz="4.234e-06" />
</inertial>
</link>

<link name="thumb_pip">
<visual>
<origin xyz="0.01196192077 0 -0.01585264896" rpy="1.570796327 0 0" />
<geometry>
<mesh filename="thumb_pip.stl"/>
</geometry>
<material name="thumb_pip_material">
<color rgba="0.8666666667 0.8666666667 0.05098039216 1"/>
</material>
</visual>
<inertial>
<origin xyz="0 0 0" rpy="0 0 0"/>
<mass value="0.003" />
<inertia ixx="5.93e-07" ixy="0"  ixz="0" iyy="5.49e-07" iyz="0" izz="2.24e-07" />
</inertial>
</link>

<link name="thumb_dip">
<visual>
<origin xyz="0.04396871571 0.05795295297 -0.008628676449" rpy="0 0 0" />
<geometry>
<mesh filename="thumb_dip.stl"/>
</geometry>
<material name="thumb_dip_material">
<color rgba="0.8666666667 0.8666666667 0.05098039216 1"/>
</material>
</visual>
<inertial>
<origin xyz="0 0 0" rpy="0 0 0"/>
<mass value="0.038" />
<inertia ixx="8.474e-06" ixy="2.41e-07"  ixz="2.6e-08" iyy="3.841e-06" iyz="2.5e-08" izz="7.679e-06" />
</inertial>
</link>

<link name="thumb_fingertip">
<visual>
<origin xyz="0.06255953846 0.07845968291 0.04899291181" rpy="0 0 0" />
<geometry>
<mesh filename="thumb_fingertip.stl"/>
</geometry>
<material name="thumb_fingertip_material">
<color rgba="0.6039215686 0.1490196078 0.1490196078 1"/>
</material>
</visual>
<inertial>
<origin xyz="0 0 0" rpy="0 0 0"/>
<mass value="0.049" />
<inertia ixx="2.0372e-05" ixy="-4.89e-07"  ixz="-3e-08" iyy="4.336e-06" iyz="-9.7e-08" izz="1.9845e-05" />
</inertial>
</link>

<joint name="12" type="revolute">
<origin xyz="-0.06939524965 -0.001242243865 -0.02162240358" rpy="0 1.570796327 0" />
<parent link="palm_lower" />
<child link="pip_4" />
<axis xyz="0 0 -1"/>
<limit effort="0.95" velocity="8.48" lower="0.0" upper="1.6"/> 
<joint_properties friction="0"/>
</joint>

<joint name="13" type="revolute">
<origin xyz="0 0.0143 -0.013" rpy="1.570796327 -1.570796327 0" />
<parent link="pip_4" />
<child link="thumb_pip" />
<axis xyz="0 0 -1"/>
<limit effort="0.95" velocity="8.48" lower="-0.1" upper="1.2"/> 
<joint_properties friction="0"/>
</joint>

<joint name="14" type="revolute">
<origin xyz="0 0.0145 -0.017" rpy="-1.570796327 0 0" />
<parent link="thumb_pip" />
<child link="thumb_dip" />
<axis xyz="0 0 -1"/>
<limit effort="0.95" velocity="8.48" lower="-0.2" upper="1.65"/> 
<joint_properties friction="0"/>
</joint>

<joint name="15" type="revolute">
<origin xyz="0 0.0466 0.0002" rpy="0 0 3.141592654" />
<parent link="thumb_dip" />
<child link="thumb_fingertip" />
<axis xyz="0 0 -1"/>
<limit effort="0.95" velocity="8.48" lower="-0.2" upper="1.72"/> 
<joint_properties friction="0"/>
</joint>

</robot>
